*{
  margin:0;
}
.header{
  background-color: #6e0040;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /* justify-content: space-evenly; */
}
.header input{
  padding: 0%;
  margin-left: 50px;
  font-size: large;
  font-family: sans-serif;
  font-weight: 1000;
  color: rgb(27, 20, 24);
  border: none;
}
 .searchbar{
  display: flex;
  width: 100%;
}
.header_searchBar{
  display: flex;
  flex: 1;
}
.searchicon{
  background-color: rgb(211, 81, 183);
  padding: 2px;
  cursor: pointer;
}

.header_logo{
  margin-left: 10px;
  border-radius: 50%;
}
.header_nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}
.header_options{
  text-decoration: none;
  color: antiquewhite;
}
.header_options:hover{
  color:rgb(211, 81, 183) ;
  transition: 300ms;
  transform: scale(1.1);
}
.header_basket{
  display: flex;
}
.sign_in{
  background-image: linear-gradient(#6e0040, rgb(211, 81, 183));
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.sign_in_box{
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 30%;
  box-shadow: 10px 15px #6e0040;
  border: 2px solid #6e0040;
}
.sign_in h1{
  text-align: center;
  color: #6e0040;
  margin-bottom: 50px;
  margin-top: 50px;
}
.user_input{
 margin-top: 50px !important;
 margin-left: 5% !important;
 width: 90%;
}
.sign_in_button{
  margin-top: 50px;
  width: 80%;
  height: 40px;
  margin-left: 10%;
  background-color: #6e0040;
  border-radius: 5px;
  color: antiquewhite;
  font-size: x-large;
}